.sectionWrapper {
  border: 1px solid #ddd;
  position: relative;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 55px; }
  .sectionWrapper h3 {
    text-align: center;
    background: #fff;
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    letter-spacing: 0.1em;
    font-size: 1.1em;
    margin: 0 auto;
    padding: 0.5em 1em;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    color: #777; }
  .sectionWrapper .socialMediaLinks {
    width: 50%;
    margin: 1em auto;
    padding: 1em 1em 0 1em;
    display: flex;
    justify-content: space-around;
    align-content: center; }
    .sectionWrapper .socialMediaLinks button {
      background-color: transparent;
      border: none;
      font-size: 14px;
      margin-right: 7px; }
  .sectionWrapper .subscriptionMarketing {
    margin: 1.5em auto 10px auto;
    padding: 0 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    position: relative; }
    .sectionWrapper .subscriptionMarketing p {
      font-size: 14px;
      margin-bottom: 20px; }
    .sectionWrapper .subscriptionMarketing input {
      border: none;
      font-size: 14px; }
    .sectionWrapper .subscriptionMarketing button {
      position: absolute;
      top: 100%;
      right: 0;
      transform: translate(-55%, -90%);
      background: #fff;
      border: none;
      font-weight: 300; }
  .sectionWrapper .wishlistMarketing .wishSlideShow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 400px;
    margin-top: 1em;
    padding: 1em 1em; }
  .sectionWrapper .wishlistMarketing button {
    border: none;
    background: transparent;
    cursor: pointer;
    height: 1em;
    width: 1em;
    align-self: center;
    margin: 0;
    padding: 0; }
  .sectionWrapper .wishlistMarketing p {
    text-align: center;
    margin-top: 3em; }
    @media (min-width: 960px) {
      .sectionWrapper .wishlistMarketing p {
        margin-top: 0; } }
  .sectionWrapper .wishlistMarketing .slideImages {
    width: 100%;
    height: 100%;
    margin-bottom: 1em;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center; }
    .sectionWrapper .wishlistMarketing .slideImages img {
      width: 100%;
      height: auto;
      transition: all 0.3s linear; }
    .sectionWrapper .wishlistMarketing .slideImages .slideLeft {
      animation-name: slideLeft;
      animation-duration: 0.4s; }
  .sectionWrapper .favoritesMarketing {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .sectionWrapper .favoritesMarketing img {
      width: 100%;
      height: auto;
      margin-top: 5px; }

@keyframes slideLeft {
  from {
    transform: translateX(110%); }
  to {
    transform: translateX(0%); } }
