.relatedWrap {
  border-bottom: 1px solid #999;
  margin-bottom: 1em;
  padding: 1em 0; }
  .relatedWrap .relatedTitle {
    text-align: center;
    font-family: 'Oswald' sans-serif;
    font-weight: 300;
    letter-spacing: 0.1em; }
  .relatedWrap .relatedTitle::after {
    margin-left: 10px; }
  .relatedWrap .relatedTitle::before {
    margin-right: 10px; }
  .relatedWrap .relatedTitle::before,
  .relatedWrap .relatedTitle::after {
    content: '';
    display: inline-block;
    max-width: 85px;
    width: 40%;
    border-bottom: 1px solid #999;
    line-height: 18px;
    vertical-align: middle; }
    @media (min-width: 960px) {
      .relatedWrap .relatedTitle::before,
      .relatedWrap .relatedTitle::after {
        max-width: 400px; } }
  .relatedWrap .relatedImg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 50%;
    grid-gap: 20px;
    padding: 5px 20px; }
    @media (min-width: 960px) {
      .relatedWrap .relatedImg {
        grid-template-columns: repeat(4, 1fr); } }
    .relatedWrap .relatedImg img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
