.App .plot-name {
  position: absolute;
  right: calc(1% + 350px);
  color: #fff;
  font-size: 2.5em; }

.App .money {
  position: absolute;
  right: calc(1% + 180px);
  color: #fff;
  font-size: 2.5em; }
