.room {
  box-sizing: border-box;
  background-size: cover;
  overflow: hidden;
  background-position: center cetner;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-color: #000;
  border-style: solid; }
  .room:hover {
    box-shadow: inset 0 0 20px #fff; }

.garden {
  background-color: green;
  width: 80%;
  height: 80%;
  margin: 10% auto; }
  .garden:hover {
    box-shadow: inset 0 0 10px #fff; }
