html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 22px;
}

h1 {
	color: darkgreen;
	font-family: Georgia, serif;
	text-align: center;
	font-size: 2.8rem;
}

h2 {
	font-family: Georgia, serif;
	text-align: center;
	font-size: 2rem;
}

p {
	line-height: 1.7;
	max-width: 94%;
	margin-bottom: 15px;
}

a {
	text-decoration: none;
}

.bigBoi {
	text-transform: uppercase;
}

a:hover {
	text-decoration: underline;
}

img {
	height: 330px;
	width: auto;
	float: left;
	margin: 25px;
	margin-bottom: 10px;
}

.container {
	width: 64vw;
	margin: 0 auto;
	padding: 1rem 5rem;
}

li {
	font-size: 22px;
	margin-bottom: 0.6rem;
}
